<%# This partial is used by Turbo broadcasts from IncidentUpdate model %>
<div id="incident-updates">
  <%= render "incidents/incident_updates", incident: incident, incident_updates: incident_updates %>
</div>